.m-carousel-item-container {
  height: 200px;
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-add-item-container:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-width: 2px;
  cursor: pointer;
}

.m-icon-big {
  font-size: x-large;
}

.m-inside-container {
  text-align: center;
}

:host ::ng-deep .m-hidden-indicators .p-carousel-indicators {
  visibility: hidden;
}
