<p-panel header="Travel creator">
  <ng-template pTemplate="icons">
    <button pButton type="button" label="Save" (click)="onSubmit()"></button>
  </ng-template>
  <div class="p-fluid">
    <div class="p-col-12">
      <span class="p-float-label">
        <input type="text" id="travelname" pInputText [(ngModel)]="travel.name">
        <label for="travelname">Travel name</label>
      </span>
    </div>
    <div class="p-grid p-col-12">
      <div class="p-col-6">
        <p-chips [(ngModel)]="travel.countryCodes" [placeholder]="'Involved countries'"
        [disabled]='true' [allowDuplicate]='false'>
          <ng-template let-countryCode pTemplate="countryCode">
            <img [src]="countryCode | flagImage: 'flat':'24'" class="m-img-flag" />
            <div>{{getCountryName(countryCode)}}</div>
          </ng-template>
        </p-chips>
      </div>
      <div class="p-col-6">
        <p-chips [(ngModel)]="travel.cities" [placeholder]="'Involved cities'"
        [disabled]='true' [allowDuplicate]='false'></p-chips>
      </div>
    </div>
    <div class="p-grid p-col-12">
      <div class="p-col-6">
        <span class="p-float-label">
          <p-calendar [(ngModel)]="travel.beginDate" [showIcon]="true" dateFormat="dd-mm-yy" dateType="string" id="travelbegindate">
          </p-calendar>
          <label for="travelbegindate">Begin date</label>
        </span>
      </div>
      <div class="p-col-6">
        <span class="p-float-label">
          <p-calendar [(ngModel)]="travel.endDate" [showIcon]="true" dateFormat="dd-mm-yy" dateType="string" id="travelenddate">
          </p-calendar>
          <label for="travelenddate">End date</label>
        </span>
      </div>
    </div>
  </div>
  <p-accordion>
    <p-accordionTab header="Travel positions">
      <p-carousel [ngClass]="travelPositions.length <= 3 ? 'm-hidden-indicators': 'm-indicators'"
        [value]="travelPositions" [numVisible]="3" [numScroll]="2">
        <ng-template let-travelPosition pTemplate="item">
          <div *ngIf="travelPosition.name === 'add-new'; else contentBlock">
            <div class="m-carousel-item-container m-add-item-container" (click)="addTravelPosition()">
              <div class="m-add-inside-container">
                <div><i class="pi pi-plus-circle m-icon-big"></i></div>
                <div><label>Add new travel position</label></div>
              </div>
            </div>
          </div>
          <ng-template #contentBlock>
            <div class="m-carousel-item-container">
              <div class="m-inside-carousel">
                <p-tabView class="tabs-container">
                  <p-tabPanel header="General">
                    <div class="p-fluid">
                      <div class="p-field p-col-12 p-grid">
                        <div class="p-col-10">
                          <p-dropdown [options]="travelPositionTypes" [(ngModel)]="travelPosition.type"
                            optionLabel="label" optionValue="value"></p-dropdown>
                        </div>
                        <div class="p-col-2">
                          <i class="m-type-icon material-icons-round">
                            {{travelPosition.type | travelPositionType:'icon'}}
                          </i>
                        </div>
                      </div>
                      <div class="p-field p-col-12">
                        <span class="p-float-label">
                          <input type="text" [id]="getUniqueNameInputId(travelPosition)" pInputText
                            [(ngModel)]="travelPosition.name">
                          <label [for]="getUniqueNameInputId(travelPosition)">Name</label>
                        </span>
                      </div>
                      <div class="p-field p-col-12">
                        <p-button [label]="getLocationButtonLabel(travelPosition.coordinates)" icon="pi pi-map-marker"
                          (click)="openMap($event, op, travelPosition)"></p-button>
                      </div>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Details">
                    <div class="p-fluid">
                      <div class="p-field p-col-12">
                        <p-rating [(ngModel)]="travelPosition.rating" [cancel]="false" [stars]="7"></p-rating>
                      </div>
                      <div class="p-field p-col-12">
                        <span class="p-float-label">
                          <textarea [id]="getUniqueDescriptionInputId(travelPosition)" class="m-textarea" rows="3"
                            cols="30" [(ngModel)]="travelPosition.description" pInputTextarea></textarea>
                          <label [for]="getUniqueDescriptionInputId(travelPosition)">Description</label>
                        </span>
                      </div>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Images" class="add-image-panel">
                    <div class="p-fluid">
                      <div class="p-field p-col-12">
                        <app-upload-image [imageSrc]="travelPosition.mainImage"
                          (imageUploaded)="onImageUpload($event, travelPosition)"></app-upload-image>
                      </div>
                    </div>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </p-carousel>
    </p-accordionTab>
    <p-accordionTab header="Timeline">
      Content 2
    </p-accordionTab>
    <p-accordionTab header="Map">
      Content 3
    </p-accordionTab>
  </p-accordion>
</p-panel>

<p-toast></p-toast>

<p-overlayPanel class="m-map-select" #op (onHide)="updateInvolvedCities()" [showCloseIcon]="true">
  <ng-template pTemplate>
    <div>
      <app-map-select [(location)]="selectedTravelPosition.coordinates" [markerTitle]="selectedTravelPosition.name" [width]="600" [height]="500"
      [fixedMarkers]="getTravelPositionsMarkers(selectedTravelPosition)">
     </app-map-select>
    </div>
  </ng-template>
</p-overlayPanel>
