.m-item-container {
  border: 1px solid var(--text-color);
  margin-top: 10px;
}

.m-carousel-item-container {
  border: 1px solid var(--text-color);
  margin: 3px;
}

.m-panel {
  margin: 10px;
}

.m-type-icon {
  margin-left: 2px;
}

.opinions-column {
  max-height: 200px;
  overflow-y: auto;
}

.m-opinion-container {
  border-top: 1px solid var(--text-color);
}

