<p-panel class="m-panel" *ngIf="my">
  <p-header>
    <b>My travels</b>
  </p-header>
</p-panel>

<p-panel class="m-panel" *ngIf="!my && !friends">
  <p-header>
    <b>Other users travels</b>
  </p-header>
</p-panel>

<p-panel class="m-panel" *ngIf="friends">
  <p-header>
    <b>My friends travels</b>
  </p-header>
</p-panel>

<p-panel class="m-panel" *ngFor="let travel of travels">
  <p-header>
    <b>{{ travel.name }}</b> ({{ travel.beginDate }} - {{ travel.endDate }}) 
    <span style="margin-left: 30px" *ngIf="!my"> Travel of {{ getUser(travel.user).firstName }} {{ getUser(travel.user).lastName }}</span>
  </p-header>
  <div class="p-grid">
    <div class="p-col-8">
      <p-carousel *ngIf="travel.positions" [ngClass]="travel.positions.length <= 3 ? 'm-hidden-indicators': 'm-indicators'" [value]="travel.positions" [numVisible]="2">
        <ng-template let-position pTemplate="item">
          <div class="p-grid m-carousel-item-container">
            <div class="p-col-5">
              <span>{{ position.name }}</span>
            </div>
            <div class="p-col-1">
              <i class="m-type-icon material-icons-round">
                {{ position.type | travelPositionType:'icon' }}
              </i>
            </div>
            <div class="p-col-6">
              <p-rating [(ngModel)]="position.rating" [cancel]="false" [readonly]="true" [stars]="7"></p-rating>
            </div>
            <div class="p-col-12">
              <p-tabView>
                <p-tabPanel header="Images">
                  <div *ngIf="getPictures(position).length > 0">
                    <p-galleria [value]="getPictures(position)" [numVisible]="5"
                    [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
                      <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="width: 100%; display: block;" />
                      </ng-template>
                    </p-galleria>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Details">
                  {{ getCountryName(position.countryCode) }} - {{ position.city }}
                </p-tabPanel>
                <p-tabPanel header="Description">
                  {{ position.description }}
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="p-col-4 m-item-container">
      <div class="p-grid">
        <div class="p-col-11" style="margin-right: -10px">
          <span>Opinie użytkowników</span>
        </div>
        <div class="p-col-1" style="margin-bottom: 5px">
          <button *ngIf="!my" (click)="showAddOpinionDialog(travel.id)" style="margin-right: 10px" pButton type="button" icon="pi pi-plus-circle"></button>
        </div>
      </div>
      <div class="p-grid opinions-column">
        <div class="p-col-12 m-opinion-container" *ngFor="let opinionFromList of travel.opinions">
          <p-toggleButton onIcon="pi pi-thumbs-up" offIcon="pi pi-thumbs-down"
      [(ngModel)]="opinionFromList.isPositive" style="margin-right: 10px" [disabled]="true"></p-toggleButton>
          {{ opinionFromList.description }}
        </div>
      </div>
    </div>
  </div>
</p-panel>

<p-dialog header="New opinion" [(visible)]="display">
  <div class="p-grid">
    <div class="p-col-12">
      <textarea [id]="opinion" class="m-textarea" rows="4"
        cols="60" [(ngModel)]="opinion.description" pInputTextarea></textarea>
    </div>
  </div>
  <p-footer>
    <p-toggleButton onIcon="pi pi-thumbs-up" offIcon="pi pi-thumbs-down"
      [(ngModel)]="opinion.isPositive" style="margin-right: 10px"></p-toggleButton>
    <button pButton type="button" label="Save" (click)="saveOpinion()"></button>
  </p-footer>
</p-dialog>
