.m-visible-area {
  height: 100vh;
  width: 100vw;
}

.m-background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
 /* height: 100%;
 overflow-y: scroll;
 overflow-x: hidden;*/
}
.m-background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  /*-webkit-filter: grayscale(100%);*/ /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%);*/
}

html, body {
  margin: 0;
  padding: 0;
}

.m-content-wrapper {
	display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.m-content {
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  height: 100%;
}

:host ::ng-deep .m-side-bar .dock {
  min-width: 60px;
  height: auto !important;
}
