<p-toast position="top-center"></p-toast>

<div class="p-grid m-container p-ai-center vertical-container">
  <div class="p-col-10 p-offset-1">
    <p-card>
      <div class="m-card-container">
        <h2 class="m-header">Traweb - Registration</h2>
        <div class="p-fluid p-formgrid p-grid">
          <app-input-with-validator id='email' class="p-field p-col-12" [(property)]="email" header="E-mail"
            type="email" [validationSteps]="emailValidationSteps"></app-input-with-validator>
          <app-input-with-validator id='password' class="p-field p-col-12 p-md-6" [(property)]="password"
            header="Password" type="password" [validationSteps]="passwordValidationSteps"></app-input-with-validator>
          <app-input-with-validator id='confirmPassword' class="p-field p-col-12 p-md-6" [(property)]="confirmPassword"
            header="Confirm password" type="password" [validationSteps]="confirmPasswordValidationSteps">
          </app-input-with-validator>
          <app-input-with-validator id='firstName' class="p-field p-col-12 p-md-6" [(property)]="firstName"
            header="Firstname" [validationSteps]="firstNameValidationSteps">
          </app-input-with-validator>
          <app-input-with-validator id='lastName' class="p-field p-col-12 p-md-6" [(property)]="lastName"
            header="Lastname" [validationSteps]="lastNameValidationSteps">
          </app-input-with-validator>
          <div class="p-field p-col-12 p-md-4">
            <label for="state">Country</label>
            <p-dropdown [options]="countries" [ngModel]="selectedCountry" (ngModelChange)="selectCountry($event)"
              optionLabel="name" [filter]="true" filterBy="name" [virtualScroll]="true" [itemSize]="30">
              <ng-template pTemplate="selectedItem">
                <div *ngIf="selectedCountry">
                  <img [src]="selectedCountry.code | flagImage: 'flat':'24'" class="m-img-flag" />
                  <div>{{selectedCountry.name}}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div>
                  <img [src]="country.code | flagImage: 'flat':'24'" class="m-img-flag" />
                  <div>{{country.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="city">City</label>
            <p-dropdown [options]="cities" [ngModel]="selectedCity" (ngModelChange)="selectCity($event)"
              optionLabel="name" [filter]="true" filterBy="name" [virtualScroll]="true" [itemSize]="30">
              <ng-template pTemplate="selectedItem">
                <div *ngIf="selectedCity">
                  <div>{{selectedCity.name}}</div>
                </div>
              </ng-template>
              <ng-template let-city pTemplate="item">
                <div [pTooltip]="getCityCords(city)" tooltipPosition="right">{{city.name}}</div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="zip">Zip</label>
            <p-dropdown [options]="zipCodes" [ngModel]="selectedZipCode" (ngModelChange)="selectZipCode($event)">
            </p-dropdown>
          </div>
          <div class="p-col-1">
            <button pButton class="p-button-secondary m-button-back" type="button" icon="pi pi-arrow-left" (click)="redirectLogin()"></button>
          </div>
          <div class="p-col-11">
            <button pButton type="button" label="Sign up" (click)="onSubmit()"></button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
