.container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.friendsListPanel {
    grid-column-start: 1;
    grid-column-end: 2;

    max-height: 95vh;
}

.friendTab {
    border: 1px solid #b5bfcc;
    min-height: 40px;
    max-height: 80px;
}

.friendAvatar{
    /* max-height: 100%; */
}

.friendAvatar img {
    max-width: auto;
    max-height: 80px;
}

.image {
    max-width: auto;
    max-height: 100%;
}

/* .friendName{
    grid-column-start: 2;
    grid-column-end: 3;
} */

.friendInfo{
}

.addFriendsPanel {
    grid-column-start: 2;
    grid-column-end: 3;
}